<div>
  <div>
    <h1>
      List of all recipes
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new recipe
    </h2>

    <form action="/insert_recipe" method="post">
      <div>
        <label for="recipe_id_box">
          Recipe
        </label>

        <input type="text" id="recipe_id_box" name="query_recipe_id">
      </div>

      <div>
        <label for="ingredients_box">
          Ingredients
        </label>

        <input type="text" id="ingredients_box" name="query_ingredients">
      </div>

      <div>
        <label for="cook_time_box">
          Cook time
        </label>

        <input type="text" id="cook_time_box" name="query_cook_time">
      </div>

      <button>
        Create recipe
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Recipe
        </th>

        <th>
          Ingredients
        </th>

        <th>
          Cook time
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_recipes.each do |a_recipe| %>
      <tr>
        <td>
          <%= a_recipe.id %>
        </td>

        <td>
          <%= a_recipe.recipe_id %>
        </td>

        <td>
          <%= a_recipe.ingredients %>
        </td>

        <td>
          <%= a_recipe.cook_time %>
        </td>

        <td>
          <%= time_ago_in_words(a_recipe.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_recipe.updated_at) %> ago
        </td>

        <td>
          <a href="/recipes/<%= a_recipe.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
